.logo h1 {
    width: 30%;
    margin-top: 0;
    font-size: 250%;
    margin-left: 50px;
}
.left-strap {
    position: absolute;
    width: 35%;
    left: 400px;
}
.right-strap {
    position: absolute;
    width: 35%;
    left: 900px;
    text-align: right;
}
.top-strap {
    height: 20px;
    top: 10px;
}
.bottom-strap {
    height: 20px;
    top: 30px;
}
.left-strap div {
    display: inline;
    padding-left: 50px;
}
.right-strap div {
    display: inline;
    padding-right: 50px;
}
.menu a {
    color: #000000;
    text-decoration: none;
}
.menu a:hover {
    color: #FF0000;
}