body {
    font-family: Arial, Verdana, sans-serif;
    font-size: 100%;
    color: black;
    background-color: white;
}
.form {
    margin: auto;
    width: 600px;
}
.form fieldset {
    border: 1px solid green;
    background-color: white;
    line-height: 1.6em;
    border-radius: 10px;
}
.form legend {
    font-style: italic;
    font-size: 150%;
    color: orangered;
}
.box {
    margin-bottom: 20px;
}
.title {
    width: 250px;
    float: left;
    text-align: right;
    padding-right: 10px;
}












/*body {*/
    /*width: 960px;*/
    /*font-family: Arial Verdana, sans-serif;*/
    /*color: red;*/
    /*background-color: beige;*/
    /*font-size: 100%;*/
/*}*/

/*.main {*/
    /*width: 960px;*/
    /*float: left;*/
/*}*/

/*.select {*/
    /*width: 160px;*/
/*}*/


/*.box-container {*/
    /*!*display: inline;*!*/
    /*width: 800px;*/
    /*float: left;*/
    /*!*position: fixed;*!*/
    /*!*position: static;*!*/
/*}*/

/*.box-product {*/
    /*width: 180px;*/
    /*height: 180px;*/
    /*padding: 10px;*/
    /*margin: 10px;*/
    /*border: 1px solid blue;*/
    /*float: left;*/
/*}*/

/*.manufacturer-box {*/
    /*width: 80px;*/
    /*height: 80px;*/
    /*padding: 10px;*/
    /*margin: 10px;*/
    /*border: 1px solid blue;*/
    /*float: left;*/
/*}*/