body {
    font-family: Arial, Verdana, sans-serif;
    font-size: 100%;
    color: #000000;
    margin: 0;
    padding: 0;
    height: 100%;
}

/*template*/
.wrapper {
    min-height: 100%;
    position: relative;
}
.header {
    background-color: #B8860B;
    padding: 10px;
    height: 40px;
    position: fixed;
    top: 0;
    width: 100%;
}
.content {
    width: 960px;
    margin: 0 auto;
    padding: 60px 20px 40px 20px;
}
.footer {
    width: 100%;
    text-align: center;
    height: 40px;
    position: absolute;
    bottom: 0;
}

/*header*/
.logo h1 {
    width: 30%;
    margin-top: 0;
    font-size: 250%;
    margin-left: 50px;
}
.left-strap {
    position: absolute;
    width: 35%;
    left: 400px;
}
.right-strap {
    position: absolute;
    width: 35%;
    left: 900px;
    text-align: right;
}
.top-strap {
    height: 20px;
    top: 20px;
}
.bottom-strap {
    height: 20px;
    top: 40px;
}
.left-strap div {
    display: inline;
    padding-left: 50px;
}
.right-strap div {
    display: inline;
    padding-right: 50px;
}

.header-content-break {
    margin-top: 100px;
}

/*homePage*/
.welcome {
    text-align: center;
    font-size: 200%;
}
.heading {
    margin: 10px 0;
}
.category {
    text-align: center;
}
.category div a {
    text-decoration: none;
}
.product {
    text-align: center;
    padding: 20px 0;
}
.frame {
    float: left;
    width: 230px;
    margin: 0 4px 30px 4px;
    border: 1px solid #000000;
}
.product div p {
    margin: 10px 0;
}
.manufacturer {
    text-align: center;
    clear: left;
}
.manufacturer a {
    text-decoration: none;
    margin: 3px;
}

/*form*/
.form {
    width: 600px;
    margin: 20px auto;
}
.form fieldset {
    background-color: #FFFFFF;
    line-height: 1.6em;
    border: 1px solid #4CAF50;
    border-radius: 10px;
    padding: 20px;
}
.form legend {
    color: #FF0000;
    font-style: italic;
    font-size: 150%;
}

.box {
    border-bottom: 1px solid #EFEFEF;
    padding: 10px 0;
}
.error {
    color: #FF0000;
    font-size: 75%;
    text-align: center;
    padding: 0;
    margin: 0;
}
.form .title {
    width: 100%;
    padding: 0;
}
.field {
    width: 100%;
    display: inline-block;
    border: 1px solid #EFEFEF;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 0 20px;
}
.input-field {
    width: 100%;
    display: inline-block;
    border: 1px solid #EFEFEF;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 6px 20px;
}
.image {
    text-align: center;
}

.form select {
    width: 100%;
}

/*button*/
.button-category {
    width: 10%;
    background-color: #A9A9A9;
    padding: 5px;
    border: 1px solid #000000;
    border-radius: 4px;
    cursor: pointer;
    font-size: small;
}
.button-category:hover {
    background-color: #808080;
}
.button-details {
    width: 100%;
    background-color: #ADFF2F;
    padding: 5px;
    border: none;
    cursor: pointer;
    font-size: small;
    border-top: 1px solid #000000;
}
.button-details:hover {
    background-color: #9ACD32;
}
.button-add-to-cart {
    width: 100%;
    background-color: #FFA500;
    padding: 5px;
    border: none;
    cursor: pointer;
    font-size: small;
    border-top: 1px solid #000000;
}
.button-add-to-cart:hover {
    background-color: #FF0000;
}
.button-edit {
    width: 100%;
    font-size: 150%;
    color: #FFFFFF;
    background-color: #6495ED;
    padding: 0;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.button-edit:hover {
    background-color: #0000FF;
}
.button-save {
    width: 100%;
    font-size: 150%;
    color: #FFFFFF;
    background-color: #4CAF50;
    padding: 0;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.button-save:hover {
    background-color: #45A049;
}
.button-cancel {
    width: 100%;
    font-size: 150%;
    color: #FFFFFF;
    background-color: #FF0000;
    padding: 0;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.button-cancel:hover {
    background-color: #8B0000;
}

/*specifications*/
.specifications {
    width: 600px;
    margin: 20px auto;
    background-color: #FFFFFF;
    line-height: 1.6em;
    border: 1px solid #4C0050;
    border-radius: 10px;
    padding: 20px;
}
.description {
    color: #FF0000;
    text-align: center;
    font-style: italic;
    font-size: 150%;
    padding: 20px 0;
}
.specifications .title {
    width: 130px;
    float: left;
    text-align: right;
    padding-right: 10px;
}
.specifications .data {
    width: 100%;
    padding: 0;
    color: #A52A2A;
}

.box p {
    color: #8A2BE2;
    font-size: 150%;
    font-style: italic;
    text-align: center;
    margin: 10px 0 5px 0;
}

.select-box {
    padding-top: 10px;
}

/*table*/
.content-frame {
    margin: 20px auto;
    text-align: center;
}
.list-table {
    border-spacing: 0;
    width: 100%;
}
.list-table tr.head th {
    color: #FFFFFF;
    background-color: #000000;
    border-bottom: 1px solid #000000;
    letter-spacing: 0.15em;
    text-align: center;
    font-size: 80%;
    padding: 10px;
}
.list-table td {
    color: #696969;
    background-color: #ADD8E6;
    border: 1px solid #000000;
    padding: 5px 15px;
    font-size: 90%;
}
.list-table td a {
    text-decoration: none;
}
.list-table td a:hover {
    color: #FF0000;
}
.unit-price {
    text-align: right;
}
.option {
    text-align: center;
}

/*login*/
.login-page {
    width: 360px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 10px;
    text-align: center;
}
.login-page input {
    outline: 0;
    background: #F2F2F2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 10px;
}
.login-page .message {
    margin: 15px 0 0;
    color: #B3B3B3;
    font-size: 12px;
}
.login-page .message a {
    color: #4CAF50;
    text-decoration: none;
}
.login-page .message a:hover {
    color: #45a049;
    text-decoration: none;
}
.wrong {
    color: #FF0000;
}
.info {
    color: #1E90FF;
}

/*views*/
.info-view {
    color: #000000;
    text-align: center;
    padding: 100px;
    font-size: 200%;
}
.thanks-view {
    color: #008000;
    text-align: center;
    padding: 100px;
    font-size: 200%;
}
.error-view {
    color: #FF0000;
    text-align: center;
    padding: 100px;
    font-size: 200%;
}

.total-cart {
    text-align: left;
    color: #008000;
}

.product-order-confirm {
    text-align: center;
    padding: 20px 37px;
}